body{
    margin: 0;
    background-color: rgb(70, 68, 73)!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
}

.nav-bg{
    background-color: #27355cff;
    height: 480px;
    width: 240px;
    border-radius: 16px 0px 0px 16px;
    align-items: center;
    justify-content: space-around;
}

.nav-bg img{
    height: 80px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-container{
    width: 800px!important;
    height: 480px!important;
    border-radius: 0px 16px 16px 0px!important;
    border: none!important;
    background-image: url(./img/brainbg.jpg);
    background-size: cover;
    background-position: center;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1)!important;
}

.bg-success, .bg-danger {
    color: white!important;
}