body{
    margin: 0;
    background-color: rgb(70, 68, 73)!important;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.nav-bg{
    background-color: #27355cff;
    height: 480px;
    width: 240px;
    border-radius: 16px 0px 0px 16px;
    align-items: center;
    justify-content: space-around;
}

.nav-bg img{
    height: 80px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 32px;
}