body{
    margin: 0;
    background-color: rgb(70, 68, 73)!important;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.nav-bg{
    background-color: #27355cff;
    height: 480px;
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    justify-content: center;
}